extends ../../components/base/_skeleton
include ../../components/rd-navbar/_rd-navbar
include ../../components/helpers/_helpers

block variables
  - pageName = title;
  - htmlClass.push('page-small-footer');

block page
  header.section.page-header
    +rd-navbar

  section.section-xs
    .container
      .row.justify-content-center
        .col-lg-6
          .panel
            .panel-header
              h5.panel-title
                span.panel-icon.linearicons-lock
                |  #{title}
            .panel-body

              // Flash
              if error && error.length
                +alert({close:false}).alert-danger.alert-sm.mb-3
                  span.alert-icon.fa-exclamation-triangle
                  if Array.isArray(error)
                    each e in error
                      span= e
                      br
                  else
                    span= error

              if success && success.length
                +alert({close:false}).alert-success.alert-sm.mb-3
                  span.alert-icon.linearicons-checkmark-circle
                  if Array.isArray(success)
                    each s in success
                      span= s
                      br
                  else
                    span= success

              form.stat-form(method='POST', action='/auth/change-password', novalidate)
                if typeof csrfToken !== 'undefined'
                  input(type='hidden', name='_csrf', value=csrfToken)

                .form-group
                  label.form-label(for='currentPassword') Поточний пароль
                  .input-group.password-toggle
                    .input-group-prepend
                      span.input-group-text.linearicons-lock
                    input#currentPassword.form-control(
                      type='password'
                      name='currentPassword'
                      required
                      autocomplete='current-password'
                    )
                    .input-group-append
                      button.btn.btn-light(type='button', data-toggle='pw', data-target='#currentPassword', aria-label='Показати/приховати пароль')
                        span.linearicons-eye

                .form-group
                  label.form-label(for='newPassword') Новий пароль
                  .input-group.password-toggle
                    .input-group-prepend
                      span.input-group-text.linearicons-lock
                    input#newPassword.form-control(
                      type='password'
                      name='newPassword'
                      required
                      autocomplete='new-password'
                    )
                    .input-group-append
                      button#genNewPwdBtn.btn.btn-info.linearicons-rotation-lock(type='button' data-toggle='tooltip', data-original-title='Згенерувати пароль')
                      button.btn.btn-light(type='button', data-toggle='pw', data-target='#newPassword', aria-label='Показати/приховати пароль')
                        span.linearicons-eye

                .form-group
                  label.form-label(for='confirmPassword') Підтвердження нового пароля
                  .input-group.password-toggle
                    .input-group-prepend
                      span.input-group-text.linearicons-lock
                    input#confirmPassword.form-control(
                      type='password'
                      name='confirmPassword'
                      required
                      autocomplete='new-password'
                    )
                    .input-group-append
                      button.btn.btn-light(type='button', data-toggle='pw', data-target='#confirmPassword', aria-label='Показати/приховати пароль')
                        span.linearicons-eye

                button.btn.btn-primary.w-100.mt-3(type='submit') Змінити пароль

    block scripts
      script(defer src='/components/base/custom/pw-generator.js')
      script.
        document.addEventListener('DOMContentLoaded', function () {
          PasswordTools.init({
            input:  '#newPassword',
            toggle: '#toggleNewPwd',
            gen:    '#genNewPwdBtn',
            hint:   '#new_pwd_hint',
            length: 14
          });

          // (опційно) автопідстановка у підтвердження після генерації
          var newPwd  = document.querySelector('#newPassword');
          var confirm = document.querySelector('#confirmPassword');
          var genBtn  = document.querySelector('#genNewPwdBtn');
          if (newPwd && confirm && genBtn) {
            genBtn.addEventListener('click', function () {
              // маленька затримка, щоб PasswordTools встиг записати значення
              setTimeout(function(){ confirm.value = newPwd.value; }, 0);
            });
          }
        });

  include ../layout/footer
