extends ../../components/base/_skeleton
include ../../components/rd-navbar/_rd-navbar
//- include ../components/breadcrumbs/_breadcrumbs
include ../../components/input/_input
//- include ../components/progress-circle/_progress-circle
//- include ../components/progress/_progress

block variables
  - pageName = title;
  - htmlClass.push( 'page-small-footer' );

block page
  header.section.page-header
    +rd-navbar

  section.section-xs
    .container
      .row.justify-content-center
        .col-lg-8
          .panel
            .panel-header
              h5.panel-title
                span.panel-icon.linearicons-pencil5
                = ' '
                span= title
            .panel-body
              form(role='form' class='stat-form' method='POST' action='/users/edit')
                .row
                  .col-xl-6
                    div.form-group
                      label(class='form-label' for='firstname') Імʼя:
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-user
                        input#firstname.form-control(type='text', name='firstname', required, value=user.firstname)
                    div.form-group
                      label(class='form-label' for='email') Емейл:
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-envelope
                        input#email.form-control(type='text', name='email', required, value=user.email)
                    div.form-group
                      label(class='form-label' for='telegram') Телеграм аккаунт:
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-paper-plane
                        input#telegram.form-control(type='text', name='telegram', value=user.telegram)
                  .col-xl-6
                    div.form-group
                      label(class='form-label' for='lastname') Прізвище:
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-user
                        input#lastname.form-control(type='text', name='lastname', required, value=user.lastname)
                    div.form-group
                      label(class='form-label' for='password') Пароль:
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-lock
                        input#password.form-control(type='password', name='password', required)
                    div.form-group
                      label(class='form-label' for='role') Рівень доступу:
                      - var isUserSelected = user.role==='user' ? 'selected="selected"' : ''
                      - var isManagerSelected= user.role==='manager' ? 'selected="selected"' : ''
                      - var isAdminSelectes= user.role==='admin' ? 'selected="selected"' : ''
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-database-lock
                        select#role.form-control(type='text', name='role', required)
                          <option name="user" value="user" #{isUserSelected}>user</option>
                          <option name="manager" value="manager" #{isManagerSelected}>manager</option>
                          <option name="admin" value="admin" #{isAdminSelectes}>admin</option>
                  .col-xl-3.mt-3
                    div.form-group
                      label(class='form-label' for='webID') WebID:
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-briefcase
                        input#webID.form-control(type='text', name='webID', required, value=user.webID)
                  .col-xl-9.mt-3
                    div.form-group
                      label(class='form-label' for='position') Позиція:
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-users2
                        input#position.form-control(type='text', name='position', required, value=user.position)

                  .col-12.mt-4
                    input#id.form-control(type='hidden', name='id', value=user.id)
                    button.btn.btn-primary.submit-btn.w-100.mb-4(type="submit") Зберегти
                    a.btn.btn-light(href="/users")
                      span.mdi-keyboard-backspace.mr-2
                      span= 'До списку'

  include ../layout/footer
