extends ../../components/base/_skeleton
include ../../components/rd-navbar/_rd-navbar

block variables
  - pageName = title;
  - htmlClass.push('page-small-footer');

block page
  header.section.page-header
    +rd-navbar

  section.section-xs
    .container
      .row.justify-content-center
        .col-lg-8
          .panel
            .panel-header
              h5.panel-title
                span.panel-icon.linearicons-pencil5
                |  #{title}
            .panel-body
              form.stat-form(method='POST', action='/users/edit')
                if typeof csrfToken !== 'undefined'
                  input(type='hidden', name='_csrf', value=csrfToken)
                input(type='hidden', name='id', value=user._id)
                .row
                  if userError && userError.length
                    .col-12.mb-3
                      +alert({close:false}).alert-danger.alert-sm
                        span.alert-icon.fa-exclamation-triangle
                        if Array.isArray(userError)
                          each e in userError
                            span= e
                            br
                        else
                          span= userError
                  if userSuccess && userSuccess.length
                    .col-12.mb-3
                      +alert({close:false}).alert-success.alert-sm
                        span.alert-icon.linearicons-checkmark-circle
                        if Array.isArray(userSuccess)
                          each m in userSuccess
                            span= m
                            br
                        else
                          span= userSuccess

                  // Ліва колонка
                  .col-xl-6
                    .form-group
                      label.form-label(for='firstName') Імʼя
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-user
                        input#firstName.form-control(
                          type='text',
                          name='firstName',
                          required,
                          value=(user.firstName || '')
                        )

                    .form-group
                      label.form-label(for='email') Емейл
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-envelope
                        input#email.form-control(
                          type='email',
                          name='email',
                          required,
                          value=(user.email || '')
                        )

                    .form-group
                      label.form-label(for='telegramUsername') Телеграм
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-paper-plane
                        input#telegramUsername.form-control(
                          type='text',
                          name='telegramUsername',
                          placeholder='@username',
                          value=(user.telegramUsername || '')
                        )

                  // Права колонка
                  .col-xl-6
                    .form-group
                      label.form-label(for='lastName') Прізвище
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-user
                        input#lastName.form-control(
                          type='text',
                          name='lastName',
                          required,
                          value=(user.lastName || '')
                        )

                    .form-group
                      label.form-label(for='department') Відділ
                      .input-group
                        .input-group-prepend
                          span.input-group-text.linearicons-lan
                        select#department.form-control(name='department', required)
                          if departments && departments.length
                            each d in departments
                              option(
                                value=d.value,
                                selected=(user.department===d.value) ? true : false
                              )= d.label || d.value
                          else
                            option(value=user.department selected)= user.department || '—'

                  .col-12.mt-3
                    button.btn.btn-primary.w-100(type='submit') Зберегти
                    a.btn.btn-light.mt-2(href='/users')
                      span.mdi-keyboard-backspace.mr-2
                      | До списку

  include ../layout/footer
