extends ../../components/base/_skeleton
include ../../components/rd-navbar/_rd-navbar
include ../../components/helpers/_helpers

block variables
  - pageName = title;
  - htmlClass.push('page-small-footer');

block page
  header.section.page-header
    +rd-navbar

  section.section-xs.bg-white
    .container-fluid
      .media.flex-column.flex-sm-row.align-items-sm-center.group-30
        .media-item
          // аватар (статичний плейсхолдер або свій, якщо є)
          img(src='/images/users/user-01-165x165.png', width='165', height='165', alt='avatar')

        .media-body
          h4.mb-1 #{(user.firstName || '') + ' ' + (user.lastName || '')}
          if user.position
            p.text-muted.mb-2= user.position

          // бейджі ролей/департаменту
          .mb-3
            if user.department
              +departmentBadge(user.department)
            if user.orgRole
              span.ml-1
                +orgRoleBadge(user.orgRole)
            if user.teamRole
              span.ml-1
                +teamRoleBadge(user.teamRole)

          ul.list-marked.mt-4.mb-4
            li.list-block-item
              span.fa-envelope-square.h4.text-warning.mr-3
              if user.email
                a(href=`mailto:${user.email}`)= user.email
              else
                span.text-muted &mdash;

            li.list-block-item
              span.fa-telegram.h4.text-info.mr-3
              span Телеграм:
              span.ml-2
                +telegramFormat(user.telegramUsername)

            li.list-block-item
              span.mdi-briefcase-check.h4.text-success.mr-3
              span WebID:
              span.ml-2= user.webId || '—'

            li.list-block-item
              span.linearicons-calendar-full.h4.text-secondary.mr-3
              span Створено:
              span.ml-2= user.createdAt ? new Date(user.createdAt).toLocaleString() : '—'

            li.list-block-item
              span.linearicons-user.h4.text-secondary.mr-3
              span Останній вхід:
              span.ml-2= user.lastLoginAt ? new Date(user.lastLoginAt).toLocaleString() : '—'

          // Кнопки дій
          .mt-3
            if !isSelf
              a.btn.btn-secondary(href='/users/edit/' + user._id + '?allow=1')
                span.linearicons-pencil5.mr-2
                | Редагувати профіль
            else
              a.btn.btn-light(href='/auth/change-password')
                span.linearicons-lock.mr-2
                | Змінити пароль

  include ../layout/footer
