extends ../../components/base/_skeleton
include ../../components/rd-navbar/_rd-navbar
include ../../components/input/_input
include ../../components/helpers/_helpers
include ../../components/select2/_select2
include ../../components/helpers/_flagIcon
include ../../components/modal-dynamic/_modal-dynamic

block variables
  - pageName = title;
  - htmlClass.push('page-small-footer');

block page
  header.section.page-header
    +rd-navbar

  section.section-xs
    .container-fluid
      .row.justify-content-center
        .col-lg-8.col-xxl-6
          .panel.panel-border-top.panel-border-warning
            // Form for editing an Offer
            form(method='POST', action='/offers/' + offer._id + '/edit')
              if typeof csrfToken !== 'undefined'
                input(type='hidden', name='_csrf', value=csrfToken)

              .panel-header
                h5.panel-title
                  span.panel-icon.linearicons-pencil
                  = ' '
                  span= title

              .panel-body
                // --- Flash ---
                if error && error.length
                  +alert({close:false}).alert-danger.alert-sm.mb-3
                    span.alert-icon.fa-exclamation-triangle
                    if Array.isArray(error)
                      each e in error
                        span= e
                        br
                    else
                      span= error

                if success && success.length
                  +alert({close:false}).alert-success.alert-sm.mb-3
                    span.alert-icon.linearicons-checkmark-circle
                    if Array.isArray(success)
                      each m in success
                        span= m
                        br
                    else
                      span= success

                // --- Offer Name
                .row.form-group
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='offerName') Назва оферу:
                  .col-sm-9
                    .input-group
                      .input-group-prepend
                        span.input-group-text
                          span.fa-file-text-o
                      input.form-control(type='text', id='offerName', name='offerName', required, value=(offer && offer.offerName || ''))

                // --- Offer ID
                .row.form-group
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='offerId') ID оферу:
                  .col-sm-9
                    .input-group
                      .input-group-prepend
                        span.input-group-text
                          span.fa-id-card-o
                      input.form-control(type='text', id='offerId', name='offerId', required, value=(offer && offer.offerId || ''))

                // --- GEO (select2-search with emoji/code/nameUk)
                .row.form-group
                  - var geoOptions = [{ value: '', text: '--' }];
                  if countries && countries.length
                    each c in countries
                      - geoOptions.push({ value: c._id, text: (c.emoji + ' [' + c.code + '] - ' + c.nameUk), selected: (offer && offer.country && String(offer.country._id || offer.country) === String(c._id)) ? true : false });
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='country') Гео:
                  .col-sm-9
                    .input-group
                      +select2-search({ theme: 'primary', options: geoOptions, name: 'country' })

                // --- Source (select2)
                .row.form-group
                  - var sourcesOptions = [{ value: '', text: '--' }];
                  if sources && sources.length
                    each s in sources
                      - sourcesOptions.push({ value: s._id, text: s.label, selected: (offer && offer.source && String(offer.source._id || offer.source) === String(s._id)) ? true : false });
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='source') Джерело:
                  .col-sm-9
                    .input-group
                      +select2({ theme: 'primary', options: sourcesOptions, name: 'source' })

                // --- Bonus
                .row.form-group
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='bonus') Бонус:
                  .col-sm-9
                    .input-group.w-50
                      .input-group-prepend
                        span.input-group-text
                          span.fa-diamond
                      input.form-control(type='text', id='bonus', name='bonus', required, value=(offer && offer.bonus || ''))

                // --- Cap
                .row.form-group
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='cap') Капа:
                  .col-sm-9
                    .input-group.w-50
                      .input-group-prepend
                        span.input-group-text
                          span.fa-signal
                      input.form-control(type='number', step='1', min='0', id='cap', name='cap', value=(typeof offer.cap === 'number' ? offer.cap : ''))
                    div
                      small.text-muted Залишити пустим, якщо uncap

                // --- Postclick (days) OPTIONAL
                .row.form-group
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='postclick') Постклік (днів):
                  .col-sm-9
                    .input-group.form-group.w-50
                      .input-group-prepend
                        span.input-group-text
                          span.fa-mouse-pointer
                      input.form-control(type='number', step='1', min='0', id='postclick', name='postclick', placeholder='', value=(typeof offer.postclick === 'number' ? offer.postclick : ''))
                      .input-group-append
                        span.input-group-text днів
                    div
                      small.text-muted Залишити пустим, якщо посткліка немає

                // --- Model (select2)
                .row.form-group
                  - var modelOptions = [{ value: '', text: '--' }];
                  if models && models.length
                    each m in models
                      - modelOptions.push({ value: m._id, text: m.label, selected: (offer && offer.model && String(offer.model._id || offer.model) === String(m._id)) ? true : false });
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='model') Модель:
                  .col-sm-9
                    .input-group
                      +select2({ theme: 'primary', options: modelOptions, name: 'model' })

                // --- Target Conversion (select2)
                .row.form-group
                  - var tconvOptions = [{ value: '', text: '--' }];
                  if tconv && tconv.length
                    each t in tconv
                      - tconvOptions.push({ value: t._id, text: t.label, selected: (offer && offer.targetConversion && String(offer.targetConversion._id || offer.targetConversion) === String(t._id)) ? true : false });
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='targetConversion') Цільова дія:
                  .col-sm-9
                    .input-group
                      +select2({ theme: 'primary', options: tconvOptions, name: 'targetConversion' })

                // --- Test offer switch
                .row.form-group
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='isTest') Тестовий офер:
                  .col-sm-9
                    .input-group.col-form-label
                      +switch({ id: 'isTest', name: 'isTest', checked: offer && offer.isTest ? true : false }).custom-switch-primary

                // --- Link
                .row.form-group
                  .col-sm-3.text-sm-right
                    label.col-form-label(for='link') Лінк на рум:
                  .col-sm-9
                    .input-group
                      .input-group-prepend
                        span.input-group-text
                          span.fa-link
                      input.form-control(type='text', id='link', name='link', placeholder='https://...', value=(offer && offer.link || ''))

                // --- KPI (summernote, HTML allowed)
                .form-group
                  label.col-form-label(for='kpi') КРІ:
                  textarea.form-control.summernote(id='kpi', name='kpi', data-summernote-opts='{ "height": 200 }')!= offer && offer.kpi ? offer.kpi : ''

                // --- Notes (summernote, HTML allowed)
                .form-group
                  label.col-form-label(for='notes') Примітки:
                  textarea.form-control.summernote(id='notes', name='notes', data-summernote-opts='{ "height": 100 }')!= offer && offer.notes ? offer.notes : ''

              .panel-footer
                button.btn.btn-primary(type='submit') Зберегти
                a.btn.btn-light.ml-2(href='/offers/' + offer._id) Скасувати

  include ../layout/footer
