extends ../layout/layout

block header
  include ../layout/header

block content
  .container
    .row
      .col-12
        h2.mb-4
          | Юзери
        if !users
          | Юзерів поки нема
        else

          table.table.table-striped.mt-1
            thead
              tr
                th= 'No'
                th= 'Імʼя'
                th= 'Емейл'
                th= 'Web ID'
                th= 'Роль'
                th= 'Дія'
            tbody
              each val, key in users
                tr
                  td #{key + 1}
                  td
                    a(href='/users/' + val.id) #{val.name}
                  td #{val.email}
                  td #{val.webID}
                  td #{val.role}
                  td
                    a(href='/users/edit/' + val.id + '?allow=true') Редагувати
                    br
                    a(href='/users/remove/' + val.id) Видалити

          <a class="btn btn btn-light" href="/users/add">Add user</a>
block footer
  include ../layout/footer

